@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url(../fonts/DroidArabicKufi.woff2) format("woff2"), url(../fonts/DroidArabicKufi.woff2) format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: Droid Arabic Kufi;
  direction: ltr;
  text-align: left;
  zoom: 80%;
  line-height: 2;
  margin-top: 0px !important;
}

p {
  font-size: 16px;
}

@media (max-width: 965px) {
  .empty {
    display: none;
  }
}

.talk {
  width: 50%;
}

@media (max-width: 965px) {
  .talk {
    width: 100%;
    text-align: center;
  }
}

body {
  direction: rtl;
  text-align: right;
  margin: 0;
  padding: 0;
}

body a:-webkit-any-link {
  color: white;
  text-decoration: none;
}

body a:-moz-any-link {
  color: white;
  text-decoration: none;
}

body a:any-link {
  color: white;
  text-decoration: none;
}

header {
  background-color: #333366;
  width: 100%;
  height: 200px;
  padding-top: 40px;
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat;
}

.container {
  margin: auto;
  max-width: 1633px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 965px) {
  nav {
    -webkit-box-pack: space-betweens;
        -ms-flex-pack: space-betweens;
            justify-content: space-betweens;
  }
}

nav .menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 18px;
}

nav .menu.active4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  z-index: 4;
  width: 100%;
  padding-top: 50px;
  background-color: #333366;
}

@media (max-width: 965px) {
  nav .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: none;
  }
}

nav .menu li {
  display: block;
  padding: 30px;
}

nav .menu li:hover {
  background-color: #33cccc;
  color: #000;
}

nav .logo {
  text-align: center;
}

nav .logo img {
  width: 90%;
}

@media (max-width: 965px) {
  nav .logo img {
    width: 80%;
  }
}

nav .toggle_button {
  display: none;
}

@media (max-width: 965px) {
  nav .toggle_button {
    top: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
    position: absolute;
    left: 1rem;
  }
}

nav .toggle_button span {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.hero {
  height: 800px;
}

.hero .container {
  position: relative;
  padding: 60px 0px 60px 0px;
}

#myVideo {
  position: absolute;
  right: 0;
  z-index: 0;
  width: 100%;
}

.logo2 {
  position: absolute;
  top: 160px;
  right: 100px;
}

@media (max-width: 965px) {
  .logo2 {
    display: none;
  }
}

.h1-first {
  font-size: 44px;
  color: #fff;
}

.h1-second {
  font-size: 54px;
  color: #cc9966;
  margin-top: -40px;
}

.btn-form {
  background-color: #cc9966;
  color: white;
  border-radius: 10px 10px 10px 10px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  top: 200px;
  z-index: 1;
  font-family: Droid Arabic Kufi;
}

.projects {
  padding: 140px 0px 140px 0px;
}

.projects .extra {
  background-color: #ffffffb3;
  position: relative;
  padding: 150px 60px 150px 60px;
}

.projects .extra .exp {
  position: absolute;
  top: -120px;
  width: 100%;
  text-align: center;
}

@media (max-width: 965px) {
  .projects .extra .exp {
    width: 60px;
  }
}
/*# sourceMappingURL=style.css.map */