$color-black:#000;
$color-blue:#333366;
$color-blue2:#33cccc;
$color-gold:#cc9966;
$color-white:#fff;


$menufont:18px;
$titlefont:24px;
$contents:16px;


@font-face{
    
    font-family: 'Droid Arabic Kufi';
    src: url(../fonts/DroidArabicKufi.woff2) format('woff2'),
    url(../fonts/DroidArabicKufi.woff2) format('woff');
    font-weight: normal;
    font-style:normal;

}


html{
    font-family: Droid Arabic Kufi;
    direction:ltr;
    text-align: left;
    zoom:80%;
    line-height: 2;
    margin-top:0px !important;
}



p{
    font-size: $contents;
}

.empty{
  
    @media(max-width:965px){
        display:none;
    }
}

.talk{
    width:50%;
    @media(max-width:965px){
        width:100%;
        text-align: center;
    }
}


body{

    direction: rtl;
    text-align: right;

    margin:0;padding:0;
    a:any-link{
        color:white;
        text-decoration: none;
    }
}





header{
    background-color:$color-blue;
        width:100%;
        height: 200px;
        padding-top:40px;

        
            background-position: bottom;
            background-size: contain;
            background-repeat: repeat;
            
             
        


    }





.container{

    margin:auto;
    max-width:1633px;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;


}



nav{


    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    @media(max-width:965px){
        justify-content: space-betweens;
    }


    .menu{

        list-style: none;
        display: flex;
        flex-direction: row;
        font-size: $menufont;

        &.active4{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
            z-index: 4;
            width: 100%;
            padding-top: 50px;
            background-color: $color-blue;
            
            }
    



        @media(max-width:965px){
            flex-direction: row;
            display:none;
        }

        li{

            display:block;
            padding:30px;
            &:hover{
                background-color: $color-blue2;
                color:$color-black;
            }

        }
 
    }



    .logo{

        text-align: center;
        img{
            width:90%;

            @media(max-width: 965px){width:67%;}
        }
    }


    .toggle_button{

        display:none;

        @media(max-width:965px){
            
        top: -20px;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        position: absolute;
        left: 1rem;

        
        }

        span{
            width: 35px;
            height: 5px;
            background-color:white;
            margin: 6px 0;
            }





    }


}



.hero {

    height:800px;

.container{

    position: relative;
    padding:60px 0px 60px 0px;

    @media(max-width: 965px){
        padding:0px;
    }
}

}



#myVideo{


    position: absolute;
    right: 0;
    z-index: 0;
    width: 100%;

}
    

.logo2{


    position: absolute;
    top:160px;
    right:100px;
    @media(max-width:965px){
display:none;
    }


}


.h1-first{

    font-size: 44px;
    color:$color-white;
}



.h1-second{

    font-size: 54px;
    color:$color-gold;
    margin-top: -40px;
}



.btn-form{
  
    background-color:$color-gold;
    color:white;
    border-radius: 10px 10px 10px 10px;
    width: 200px;
    height: 50px;
     font-size: $menufont;
    top:200px;
    z-index: 1;
    font-family:Droid Arabic Kufi;
    

}




.projects{


    padding:140px 0px 140px 0px;



    .extra{

        background-color:#ffffffb3;
        position:relative;

        padding: 200px 60px 200px 60px;


        .exp{

            position: absolute;
            top:-120px;
            width:100%;
            text-align:center;

            @media(max-width: 965px){
                width:60px;
            }

        }
    }
}